/* Title Content Map Component */
.title_content_map {
	.textarea {
		h2,
		h3,
		h4 {
			@apply text-xl font-semibold;
		}

		p {
			@apply py-2 text-[1.110rem];
		}

		ol,
		ul {
			@apply py-2 flex flex-col items-center lg:items-start justify-center lg:justify-start;

			li {
				list-style-type: disc;
				@apply ml-8 lg:ml-10 py-1 text-[1.110rem] w-fit;
			}
		}
	}

	.map {
		iframe {
			width: 100%;
			height: 100%;
			min-height: 500px;
		}

		p {
			@apply py-0 h-full min-h-[500px];
		}
	}
}
